@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

/* ====================navbar================== */

.navbar-container {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    background: #FCAF02;
    position:sticky;
    
}

.navbar-container a {
    padding: 2px;
    font-weight: 400;
    text-decoration: none;
    color: #000000;
    border: none;
    background: #FCAF02;
}

.navbar-container-left a {
    font-weight: 700;
}

.navbar-container-right a {
    margin-left: 1rem;
}


main {
    background-color: #000000;
    padding: 3rem;
}

header {
    color: #FFFFFF;
    display: flex;
}

.header-left h1 {
    font-weight: 700;
    line-height: 78px;
}

.header-left p {
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 1rem;
}

.header-left button {
    border: none;
    width: 20%;
    height: 2rem;
    background-color: #FCAF02;
    border-radius: 500px;
    font-weight: 700;

}

.header-right img {
    width: 350px;
}

/* contact section style */

.contact {
    color: #FCAF02;
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
}

.contact h1 {
    font-weight: 700;
    margin: 1rem;
    ;
}

::placeholder {
    color: #FCAF02;
    padding-left: 1rem;
}

.contact input {
    text-decoration: none;
    border: none;
    background-color: #000000;
    height: 1.5rem;
    margin: .8rem 0;
    border: 1px solid #FCAF02;
    border-radius: 100px;
    padding: .5rem .8rem; 
    color: #FCAF02;
}

.contact-top input {
    width: 98%;
}

.contact-down {
    display: flex;
    flex-wrap: wrap;
    padding: 0%;
    /* gap: 1.5rem; */
    justify-content: space-between;
    align-items: center;
}

.contact-down input {
    width: 46%;
}

.contact button {
    align-self: center;
    border: none;
    background: #FCAF02;
    width: 200px;
    height: 2.5rem;
    border-radius: 100px;
    margin-top: 2rem;
}

/* =========== table style ===========*/
table {
    width: 100%;
    margin-top: 6rem;
}
table , th{
    color: #FCAF02;
    border: 1px solid #FCAF02;
    border-collapse: collapse;
    text-align: center;
}
th{
    padding: 1rem;
}
td {
    border-right:1px solid #FCAF02;
    padding: .8rem;
}

tfoot td{
    color: #000000;
    background: #FCAF02;
}
.foot{
    border-left: 2px solid black;
}

